
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-light bg-faded ">
        <div class="container">
            <div class="nav">

                <ul class="nav navbar-nav nav-pills">


                    @if (HttpContext.Current.Request.Url.AbsoluteUri == "http://localhost:51087/Account/login") { }
                    else {

                    <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                    <li>@Html.ActionLink("Сменить пароль", "ResetPassword", "Account")</li>}

                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Журнал разработок Отделения Пенсионного фонда Российской Федерации по Алтайскому краю </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
