@using WebApplication15.Models
@model List<Application>

@{
    ViewBag.Title = "AppRaspred";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Список  заявок </h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>(Список поступивших заявок начальнику УИТ)</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet"
          type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-faded ">
        <div class="container">
            <div class="nav">

                <ul class="nav navbar-nav nav-pills">

                    <li>@Html.ActionLink("Полный список ", "AppRaspred", "Home")</li>
                    <li> @Html.ActionLink("Новые заявки", "AppRaspredNew", "")</li>
                    <li><span class="badge alert-info">@ViewBag.Application </span></li>
                    <li> @Html.ActionLink("Мои заявки", "Superviser", "")</li>
                 


                </ul>
            </div>
        </div>
    </nav>




    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div class="row">


        <table class=" table table-hover table-bordered">
            <thead>
                <tr>
                    <td scope="row"><p><h6><b>Номер заявки</b></h6></p></td>
                    <td><p><h6><b>Дата создания</b></h6></p></td>
                    <td><p><h6><b>Цель</b></h6></p></td>
                    <td><p><h6><b>Наименование ПО (если есть)</b></h6></p></td>
                    <td><p><h6><b>Заказчик</b></h6></p></td>
                    <td><p><h6><b>Конфиденциальность</b></h6></p></td>
                    <td><p><h6><b>Регистрация</b></h6></p></td>
                    <td><p><h6><b>Курирующий от Исполнителя</b></h6></p></td>
                    <td><p><h6><b>Действия</b></h6></p></td>

                </tr>
            </thead>
            <tbody>
                @foreach (Application apps in Model)
                {
                    if (@apps.Status == "Отменена отделом")
                    {
                        <tr>

                            <td><p><b>@apps.idApp </b></p></td>
                            <td><p>@apps.Date_create </p></td>
                            <td><p>@apps.Aim</p></td>
                            <td><p>@apps.Naimen_PO</p></td>

                            <td><p>@apps.IdOtdely</p></td>

                            <td><p>@apps.Konfident</p></td>
                            <td class="alert-dismissable"><p>@apps.Status</p></td>
                            <td><p>@apps.Superviser</p></td>
                            <td>

                                @Html.ActionLink("Подробнее о заявке", "EditSuperviserinApp", new { id = apps.idApp })




                            </td>


                        </tr>

                    }
                    else {

                        if (@apps.Status == "Отменена начальником отдела")
                        {
                        <tr>

                            <td><p><b>@apps.idApp </b></p></td>
                            <td><p>@apps.Date_create </p></td>
                            <td><p>@apps.Aim</p></td>
                            <td><p>@apps.Naimen_PO</p></td>

                            <td><p>@apps.IdOtdely</p></td>

                            <td><p>@apps.Konfident</p></td>
                            <td class="alert-dismissable"><p>@apps.Status</p></td>
                            <td><p>@apps.Superviser</p></td>
                            <td>

                                @Html.ActionLink("Подробнее о заявке", "EditSuperviserinApp", new { id = apps.idApp })




                            </td>


                        </tr>

                        }
                        else {

                            if (@apps.Status == "На очереди")
                            {
                        <tr>

                            <td><p><b>@apps.idApp </b></p></td>
                            <td><p>@apps.Date_create </p></td>
                            <td><p>@apps.Aim</p></td>
                            <td><p>@apps.Naimen_PO</p></td>

                            <td><p>@apps.IdOtdely</p></td>

                            <td><p>@apps.Konfident</p></td>
                            <td class="alert-danger"><p>@apps.Status</p></td>
                            <td><p>@apps.Superviser</p></td>
                            <td>

                                @Html.ActionLink("Подробнее о заявке", "EditSuperviserinApp", new { id = apps.idApp })/
                                @Html.ActionLink("Назначить Курирующего", "EditNew", new { id = apps.idApp })/
                                @Html.ActionLink("Отменить ", "app1", new { id = apps.idApp })



                            </td>


                        </tr>
                            }
                            else
                            {
                        <tr>
                            <td><p>@apps.idApp </p></td>
                            <td><p>@apps.Date_create </p></td>
                            <td><p>@apps.Aim</p></td>
                            <td><p>@apps.Naimen_PO</p></td>

                            <td><p>@apps.IdOtdely</p></td>

                            <td><p>@apps.Konfident</p></td>
                            <td class="alert-success"><p>@apps.Status</p></td>
                            <td><p>@apps.Superviser</p></td>


                            <td>
                                @Html.ActionLink("Подробнее о заявке", "EditSuperviserinApp", new { id = apps.idApp })


                            </td>


                        </tr>

                            }
                        }
                    }
                }
            </tbody>
        </table>


    </div>



</body>
</html>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".additem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>


    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript">
    </script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript">
    </script>
    <script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
            .addClass("dialog")
            .appendTo("body")
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() },
                modal: true
            })
            .load(this.href);
        });
    });
    </script>
}